*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

header{
    padding-bottom: 16px;
    padding-top:16px ;
    font-size: 20px;
    background-color: #000;
    color: #fff;
}

body{
    background-color: #d9d9d9;
}

.form-campo{
    margin-bottom: 16px;
    padding: 16px 0;
}

.form-campo label{
    font-weight: bold;
    display: block;
}

.form-campo input{
    display: block;
    width: 100%;
    padding: 8px;
}

form{
    max-width: 360px;
}

form button{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    cursor: pointer;
    background-color: aqua;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
}


